---
interface Advantage {
	icon: string;
	title: string;
	description: string;
	delay?: string;
}

interface Props {
	title?: string;
	titleImage?: string;
	advantages?: Advantage[];
}

const {
	title = "Advantages",
	titleImage = "images/shape/shape_188.svg",
	advantages = [
		{
			icon: "images/icon/icon-code.svg",
			title: "High Quality Code",
			description: "Integrating your apps couldn't be any easier through Installation.",
			delay: undefined,
		},
		{
			icon: "images/icon/icon-seo.svg",
			title: "SEO & Speed Optimized ",
			description: "Linking your site to your domain name has never been easier with GoDaddy registered domain.",
			delay: "0.2s",
		},
		{
			icon: "images/icon/icon-accessibility.svg",
			title: "Accessible code",
			description: "Get peace of mind, knowing network dsu security and visitors",
			delay: "0.4s",
		},
		{
			icon: "images/icon/icon-organization.svg",
			title: "100% White Label",
			description: "Includes industry-standard cPanel to install apps, manage backups and security.",
			delay: undefined,
		},
		{
			icon: "images/icon/icon-structure.svg",
			title: "Component-Based Structure",
			description: "If you require more power for your site, seamlessly increase your CPU/RAM, I/O and storage with 1 click.",
			delay: "0.2s",
		},
		{
			icon: "images/icon/icon-communication.svg",
			title: "Fast and clear communication",
			description: "Get faster page loads & better customer experience with lorem.",
			delay: "0.4s",
		},
	],
} = Astro.props;
---

<div class="fancy-feature-twentyThree mt-16 md:mt-24 lg:mt-32 xl:mt-32 px-4 xl:mb-20 lg:mb-20 md:mb-14 mb-10">
	<div class="container">
		<div class="title-style-seven text-center pb-5 wow fadeInUp">
			<h2 class="font-Recoleta font-normal text-black xl:text-6xl lg:text-5xl text-4xl">
				<span class="relative inline-block">
					{title}
					<img class="absolute z-[-1] w-48 xl:w-60 rotate-3 left-0 -bottom-2" src={titleImage} alt="">
				</span>
			</h2>
		</div>

		<div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-x-12 xl:gap-x-24 gap-y-6 lg:gap-y-10 pt-10 md:pt-14 xl:pt-20">
			{advantages.map((advantage) => (
				<div
					class="text-center xl:text-left lg:text-left w-full wow fadeInUp"
					data-wow-delay={advantage.delay}
				>
					<div class="icon flex items-center justify-center relative rounded-[50%] w-[65px] h-[65px] lg:w-[60px] lg:h-[60px] md:w-[50px] md:h-[50px] sm:w-[50px] sm:h-[50px] xsm:w-[50px] xsm:h-[50px] border-[3px] border-solid border-black before:content-[''] before:absolute before:w-[calc(100%+6px)] before:h-[calc(100%+6px)] before:top-[-3px] before:z-[-1] before:rounded-[50%] before:left-[5px] md:m-[0_auto] sm:m-[0_auto] xsm:m-[0_auto] before:bg-[#cac6fc]">
						<img src="images/lazy.svg" data-src={advantage.icon} alt="" class="lazy-img h-6 xl:h-7">
					</div>
					<h4 class="mt-6 lg:mt-[30px] mb-5 lg:mb-[10px] md:mb-[10px] sm:mb-[10px] xsm:mb-[10px] lg:text-[20px] md:text-[20px] sm:text-[20px] xsm:text-[20px]">
						{advantage.title}
					</h4>
					<p>{advantage.description}</p>
				</div>
			))}
		</div>
	</div>
</div>
