---
interface Props {
	icon?: string;
	title?: string;
	description?: string;
	formAction?: string;
	formId?: string;
	namePlaceholder?: string;
	emailPlaceholder?: string;
	messagePlaceholder?: string;
	buttonText?: string;
	footerText?: string;
	footerLinkText?: string;
	footerLink?: string;
	shapeText?: string;
	shape1Image?: string;
	shape2Image?: string;
	sectionId?: string;
}

const {
	icon = "images/icon/icon_114.svg",
	title = "Let's talk with expereince advisors.",
	description = "eiusmod tempor incididunt. Ut enim mim veniam, quis nostrud elit lorem dolor.",
	formAction = "inc/contact.php",
	formId = "contact-form",
	namePlaceholder = "Your name*",
	emailPlaceholder = "Email*",
	messagePlaceholder = "Your message*",
	buttonText = "SEND MESSAGE",
	footerText = "Been here before?",
	footerLinkText = "Check your query",
	footerLink = "#",
	shapeText = "Fill the <br>form",
	shape1Image = "images/shape/shape_90.svg",
	shape2Image = "images/shape/shape_91.svg",
	sectionId = "",
} = Astro.props;
---

<div id={sectionId} class="fancy-short-banner-thirteen py-[170px] lg:py-20 md:py-20 sm:py-20 xsm:py-20 bg-[#F6F9FB] wow fadeInUp">
	<div class="container">
		<div class="bg-wrapper z-2 bg-white relative px-3 py-0 rounded-[10px]">
			<div class="flex flex-wrap mx-[-12px]">
				<div class="xl:w-11/12 w-full flex-[0_0_auto] px-[12px] max-w-full m-auto">
					<div class="flex flex-wrap mx-[-12px] items-center">
						<div class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full ml-auto! xl:order-last lg:order-last">
							<div class="text-wrapper pl-20 pr-0 pt-[60px] pb-20 border-l-[#E9E9E9] border-l border-solid md:p-[50px_0] md:border-l-0 sm:p-[50px_0] sm:border-l-0 xsm:p-[50px_0] xsm:border-l-0">
								<img src="images/lazy.svg" data-src={icon} alt="" class="lazy-img mb-[30px]">
								<div class="title-style-one">
									<h2 class="font-Recoleta font-normal text-black xl:text-6xl/[66px] lg:text-5xl/[56px] text-4xl">{title}</h2>
								</div>
								<p class="text-[20px] lg:text-[18px] md:text-[18px] sm:text-[18px] xsm:text-[18px] text-black pt-5 m-0!">{description}</p>
							</div>
						</div>
						<div class="xl:w-5/12 lg:w-6/12 w-full flex-[0_0_auto] px-[12px] max-w-full xl:order-first lg:order-first">
							<div class="form-style-two md:mb-10 sm:mb-10 xsm:mb-10 ">
								<form action={formAction} id={formId} data-toggle="validator">
									<div class="messages"></div>
									<div class="flex flex-wrap mx-[-12px] controls">
										<div class="w-full flex-[0_0_auto] px-[12px] max-w-full">
											<div class="input-group-meta relative form-group mb-5">
												<input class=" h-[60px] p-[0_20px] w-full max-w-full text-black text-[15px] rounded-[5px] border-2 border-solid border-[rgba(221,221,221,0.8)]" type="text" placeholder={namePlaceholder} name="name" required="required" data-error="Name is required.">
												<div class="help-block with-errors absolute bottom-[-17px] text-[13px] leading-5 text-[#ff4d44] left-0"></div>
											</div>
										</div>

										<div class="w-full flex-[0_0_auto] px-[12px] max-w-full">
											<div class="input-group-meta relative form-group mb-5">
												<input class=" h-[60px] p-[0_20px] w-full max-w-full text-black text-[15px] rounded-[5px] border-2 border-solid border-[rgba(221,221,221,0.8)]" type="email" placeholder={emailPlaceholder} name="email" required="required" data-error="Valid email is required.">
												<div class="help-block with-errors absolute bottom-[-17px] text-[13px] leading-5 text-[#ff4d44] left-0"></div>
											</div>
										</div>
										<div class="w-full flex-[0_0_auto] px-[12px] max-w-full">
											<div class="input-group-meta relative form-group mb-[15px] ">
												<textarea class=" h-[120px] max-h-[120px] px-5 py-[15px] w-full max-w-full text-black text-[15px] rounded-[5px] border-2 border-solid border-[rgba(221,221,221,0.8)]" placeholder={messagePlaceholder} name="message" required="required" data-error="Please,leave us a message."></textarea>
												<div class="help-block with-errors absolute bottom-[-17px] text-[13px] leading-5 text-[#ff4d44] left-0"></div>
											</div>
										</div>
										<div class="w-full flex-[0_0_auto] px-[12px] max-w-full"><button class="btn-twentyTwo w-full font-medium tran3s uppercase text-[14px] leading-[55px] text-white tracking-[0.88px] px-[42px] py-0 rounded-[7px] hover:bg-(--prime-ten) bg-[#a056fa]">{buttonText}</button></div>
									</div>
									<div class="text-[16px] text-center mt-[25px] "><span class="opacity-75">{footerText}</span> <a href={footerLink} class=" text-black font-medium hover:text-[#0a58ca]">{footerLinkText}</a></div>
								</form>
							</div> <!-- /.form-style-two -->
						</div>
					</div>
				</div>
			</div>
			<div class="shapes shape-text font-medium text-[20px] text-black text-center absolute z-[-1] leading-6 top-[-62px] rotate-[-10deg] lg:rotate-20 xl:rotate-[-15deg] left-10 lg:left-5 xl:-left-10" set:html={shapeText}></div>
			<img src="images/lazy.svg" data-src={shape1Image} alt="" class="lazy-img shapes shape-one absolute z-1 rotate-100 lg:rotate-70 xl:rotate-0 left-20 lg:-left-2 xl:left-1 -top-2.5 block scale-y-[-1] lg:scale-100 xl:scale-100">
			<img src="images/lazy.svg" data-src={shape2Image} alt="" class="lazy-img shapes shape-two absolute z-[-1] left-[-60px] bottom-[-60px]">
		</div> <!-- /.bg-wrapper -->
	</div>
</div>
