---
interface Props {
	icon?: string;
	title?: string;
	description?: string;
	formAction?: string;
	formId?: string;
	namePlaceholder?: string;
	emailPlaceholder?: string;
	messagePlaceholder?: string;
	buttonText?: string;
	footerText?: string;
	footerLinkText?: string;
	footerLink?: string;
	shapeText?: string;
	shape1Image?: string;
	shape2Image?: string;
	sectionId?: string;
}

const {
	icon = 'images/icon/icon_114.svg',
	title = 'Let’s talk about your project.',
	description = 'Send us your design and requirements. We’ll take a look and reply with a quote and timeline.',
	formAction = 'inc/contact.php',
	formId = 'contact-form',
	namePlaceholder = 'Your name*',
	emailPlaceholder = 'Email*',
	messagePlaceholder = 'Your message*',
	buttonText = 'Get a free quote',
	footerText = 'Been here before?',
	footerLinkText = 'Check your query',
	footerLink = '#',
	shapeText = 'Fill the <br>form',
	shape1Image = 'images/shape/shape_90.svg',
	shape2Image = 'images/shape/shape_91.svg',
	sectionId = '',
} = Astro.props;
---

<div
	id='cta'
	class='fancy-short-banner-thirteen wow fadeInUp bg-[#F6F9FB] py-20 xl:py-42.5'>
	<div class='container'>
		<div class='bg-wrapper relative z-2 rounded-[10px] bg-white px-3 py-0'>
			<div class='-mx-3 flex flex-wrap'>
				<div class='m-auto w-full max-w-full flex-[0_0_auto] px-3 xl:w-11/12'>
					<div class='-mx-3 flex flex-col lg:flex-row'>
						<div class='ml-auto w-full max-w-full flex-[0_0_auto] px-3 lg:order-last lg:w-6/12'>
							<div class='text-wrapper px-0 py-5 sm:pt-15 sm:pb-0'>
								<img
									src='images/lazy.svg'
									data-src={icon}
									alt=''
									class='lazy-img mb-7.5'
								/>
								<div class='title-style-one'>
									<h2
										class='font-Recoleta text-4xl font-normal text-black lg:text-5xl/14 xl:text-6xl/16.5'>
										{title}
									</h2>
								</div>
								<p class='m-0 pt-5 text-lg text-black xl:text-xl'>
									{description}
								</p>
							</div>
						</div>
						<div
							class='w-full max-w-full flex-[0_0_auto] px-3 lg:order-first lg:w-6/12 xl:w-5/12'>
							<div class='form-style-two mb-10 py-10 lg:mb-0'>
								<iframe
									data-tally-src='https://tally.so/embed/Ekd4bB?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1'
									loading='lazy'
									width='100%'
									height='613'
									frameborder='0'
									marginheight='0'
									marginwidth='0'
									title='Let us code your design'
								></iframe>
								<script>
									var d = document,
										w = 'https://tally.so/widgets/embed.js',
										v = function () {
											'undefined' != typeof Tally
												? Tally.loadEmbeds()
												: d.querySelectorAll('iframe[data-tally-src]:not([src])').forEach(function (e) {
														e.src = e.dataset.tallySrc;
													});
										};
									if ('undefined' != typeof Tally) v();
									else if (d.querySelector('script[src="' + w + '"]') == null) {
										var s = d.createElement('script');
										((s.src = w), (s.onload = v), (s.onerror = v), d.body.appendChild(s));
									}
								</script>
							</div>
							<!-- /.form-style-two -->
						</div>
					</div>
				</div>
			</div>
			<div
				class='shapes shape-text absolute -top-15.5 left-10 -z-1 -rotate-10 text-center text-xl leading-6 font-medium text-black lg:left-5 lg:rotate-20 xl:-left-10 xl:-rotate-15'
				set:html={shapeText}
			/>
			<img
				src='images/lazy.svg'
				data-src={shape1Image}
				alt=''
				class='lazy-img shapes shape-one absolute -top-2.5 left-20 z-1 block -scale-y-100 rotate-100 lg:-left-2 lg:scale-100 lg:rotate-70 xl:left-1 xl:rotate-0'
			/>
			<img
				src='images/lazy.svg'
				data-src={shape2Image}
				alt=''
				class='lazy-img shapes shape-two absolute -bottom-15 -left-15 -z-1'
			/>
		</div>
		<!-- /.bg-wrapper -->
	</div>
</div>
