---
interface Props {
	icon?: string;
	title?: string;
	description?: string;
	formAction?: string;
	formId?: string;
	namePlaceholder?: string;
	emailPlaceholder?: string;
	messagePlaceholder?: string;
	buttonText?: string;
	footerText?: string;
	footerLinkText?: string;
	footerLink?: string;
	shapeText?: string;
	shape1Image?: string;
	shape2Image?: string;
	sectionId?: string;
}

const {
	icon = 'images/icon/icon_114.svg',
	title = 'Let’s talk about your project.',
	description = 'Send us your design and requirements. We’ll take a look and reply with a quote and timeline.',
	formAction = 'inc/contact.php',
	formId = 'contact-form',
	namePlaceholder = 'Your name*',
	emailPlaceholder = 'Email*',
	messagePlaceholder = 'Your message*',
	buttonText = 'Get a free quote',
	footerText = 'Been here before?',
	footerLinkText = 'Check your query',
	footerLink = '#',
	shapeText = 'Fill the <br>form',
	shape1Image = 'images/shape/shape_90.svg',
	shape2Image = 'images/shape/shape_91.svg',
	sectionId = '',
} = Astro.props;
---

<div
	id='cta'
	class='fancy-short-banner-thirteen xsm:py-20 wow fadeInUp bg-[#F6F9FB] py-[170px] sm:py-20 md:py-20 lg:py-20'>
	<div class='container'>
		<div class='bg-wrapper relative z-2 rounded-[10px] bg-white px-3 py-0'>
			<div class='mx-[-12px] flex flex-wrap'>
				<div class='m-auto w-full max-w-full flex-[0_0_auto] px-[12px] xl:w-11/12'>
					<div class='xsm:flex-col mx-[-12px] flex sm:flex-col md:flex-col'>
						<div
							class='ml-auto! w-full max-w-full flex-[0_0_auto] px-[12px] md:border-l-[#E9E9E9] lg:order-last lg:w-6/12 xl:order-last xl:w-6/12'>
							<div class='text-wrapper xsm:p-[20px_0] pt-[60px] pr-0'>
								<img
									src='images/lazy.svg'
									data-src={icon}
									alt=''
									class='lazy-img mb-[30px]'
								/>
								<div class='title-style-one'>
									<h2 class='font-Recoleta text-4xl font-normal text-black lg:text-5xl/[56px] xl:text-6xl/[66px]'>
										{title}
									</h2>
								</div>
								<p
									class='xsm:text-[18px] m-0! pt-5 text-[20px] text-black sm:text-[18px] md:text-[18px] lg:text-[18px]'>
									{description}
								</p>
							</div>
						</div>
						<div class='w-full max-w-full flex-[0_0_auto] px-[12px] lg:order-first lg:w-6/12 xl:order-first xl:w-5/12'>
							<div class='form-style-two xsm:mb-10 py-10 sm:mb-10 md:mb-10'>
								<iframe
									data-tally-src='https://tally.so/embed/Ekd4bB?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1'
									loading='lazy'
									width='100%'
									height='613'
									frameborder='0'
									marginheight='0'
									marginwidth='0'
									title='Let us code your design'
								></iframe>
								<script>
									var d = document,
										w = 'https://tally.so/widgets/embed.js',
										v = function () {
											'undefined' != typeof Tally
												? Tally.loadEmbeds()
												: d.querySelectorAll('iframe[data-tally-src]:not([src])').forEach(function (e) {
														e.src = e.dataset.tallySrc;
													});
										};
									if ('undefined' != typeof Tally) v();
									else if (d.querySelector('script[src="' + w + '"]') == null) {
										var s = d.createElement('script');
										((s.src = w), (s.onload = v), (s.onerror = v), d.body.appendChild(s));
									}
								</script>
							</div>
							<!-- /.form-style-two -->
						</div>
					</div>
				</div>
			</div>
			<div
				class='shapes shape-text absolute top-[-62px] left-10 z-[-1] rotate-[-10deg] text-center text-[20px] leading-6 font-medium text-black lg:left-5 lg:rotate-20 xl:-left-10 xl:rotate-[-15deg]'
				set:html={shapeText}
			/>
			<img
				src='images/lazy.svg'
				data-src={shape1Image}
				alt=''
				class='lazy-img shapes shape-one absolute -top-2.5 left-20 z-1 block scale-y-[-1] rotate-100 lg:-left-2 lg:scale-100 lg:rotate-70 xl:left-1 xl:scale-100 xl:rotate-0'
			/>
			<img
				src='images/lazy.svg'
				data-src={shape2Image}
				alt=''
				class='lazy-img shapes shape-two absolute bottom-[-60px] left-[-60px] z-[-1]'
			/>
		</div>
		<!-- /.bg-wrapper -->
	</div>
</div>
