---
interface Tool {
	logo: string;
	name: string;
	logoClass?: string;
}

interface Props {
	title?: string;
	titleHighlight?: string;
	highlightImage?: string;
	tools?: Tool[];
}

const {
	title = 'We work with the',
	titleHighlight = 'tools',
	highlightImage = 'images/shape/shape_97.svg',
	tools = [
		{ logo: 'images/logo/logo-figma.png', name: 'Figma', logoClass: 'md:h-12 h-10', url: 'https://figma.com' },
		{ logo: 'images/logo/logo-adobe-xd.png', name: 'Adobe XD', logoClass: 'md:h-12 h-10', url: 'https://xd.adobe.com' },
		{ logo: 'images/logo/logo-sketch.png', name: 'Sketch', logoClass: 'md:h-12 h-10', url: 'https://www.sketch.com' },
		{
			logo: 'images/logo/logo-html.svg',
			name: 'HTML',
			logoClass: 'md:h-12 h-10',
			url: 'https://developer.mozilla.org/en-US/docs/Web/HTML',
		},
		{
			logo: 'images/logo/logo-css.png',
			name: 'CSS',
			logoClass: 'md:h-12 h-10',
			url: 'https://developer.mozilla.org/en-US/docs/Web/CSS',
		},
		{
			logo: 'images/logo/logo-js.svg',
			name: 'JavaScript',
			logoClass: 'md:h-12 h-10',
			url: 'https://developer.mozilla.org/en-US/docs/Web/JavaScript',
		},
		{ logo: 'images/logo/logo-react.png', name: 'React', logoClass: 'md:h-12 h-10', url: 'https://react.dev' },
		{ logo: 'images/logo/logo-vue.png', name: 'Vue', logoClass: 'md:h-12 h-10', url: 'https://vuejs.org' },
		{ logo: 'images/logo/logo-astro.svg', name: 'Astro', logoClass: 'md:h-12 h-10', url: 'https://astro.build' },
		{
			logo: 'images/logo/logo-alpine.svg',
			name: 'Alpine',
			logoClass: 'h-10 md:h-12 mb-2',
			url: 'https://alpinejs.dev',
		},
		{
			logo: 'images/logo/logo-statamic.svg',
			name: 'Statamic',
			logoClass: 'md:h-12 h-10 mb-2',
			url: 'https://statamic.com',
		},
		{
			logo: 'images/logo/logo-shopify.svg',
			name: 'Shopify',
			logoClass: 'md:h-12 h-10 mb-2',
			url: 'https://www.shopify.com',
		},
		{
			logo: 'images/logo/logo-wordpress.svg',
			name: 'WordPress',
			logoClass: 'md:h-12 h-10 mb-2',
			url: 'https://wordpress.org',
		},
	],
} = Astro.props;
---

<div class='fancy-feature-twentyThree mb-20 sm:mb-24 xl:mb-32'>
	<div class='container'>
		<div class='wow fadeInUp pb-5 text-center'>
			<h2 class='main-title font-Recoleta text-4xl font-normal text-black lg:text-5xl xl:text-6xl'>
				{title}
				<span class='relative inline-block'
					>{titleHighlight}
					<img
						class='absolute top-2/4 left-2/4 z-[-1] max-w-[113%] -translate-x-2/4 -translate-y-2/4'
						src={highlightImage}
						alt=''
					/></span
				> you already use
			</h2>
		</div>
		<!-- /.title-style-seven -->

		<div class='flex flex-wrap justify-center gap-x-10 gap-y-8 pt-10'>
			{
				tools.map((tool) => (
					<a
						href={tool.url}
						target='_blank'
						rel='noopener noreferrer'
						class='flex w-1/6 items-center justify-center gap-7 sm:justify-start'>
						<img
							src='images/lazy.svg'
							data-src={tool.logo}
							alt=''
							class={`lazy-img ${tool.logoClass || 'h-10 md:h-12'}`}
						/>
						<h4 class='font-gordita text-xl font-medium'>{tool.name}</h4>
					</a>
				))
			}
		</div>
	</div>
	<!-- /.container -->
</div>
