---
interface Step {
	icon: string;
	title: string;
	description: string;
	delay?: string;
}

interface Props {
	id?: string;
	titleLine1?: string;
	titleLine2?: string;
	highlightColor?: string;
	steps?: Step[];
}

const {
	id,
	titleLine1 = 'Know our',
	titleLine2 = ' process',
	highlightColor = '#E1EDFF',
	steps = [
		{
			icon: 'images/icon/icon_13.svg',
			title: '1. Welcome & Analysis',
			description: 'You share the design and requirements. We review the scope and send a clear quote.',
			delay: '0.1s',
		},
		{
			icon: 'images/icon/icon_16.svg',
			title: '2. We chat',
			description: 'We align on details, timelines, and expectations in a short call or chat, then set a kickoff date.',
			delay: '0.2s',
		},
		{
			icon: 'images/icon/icon_15.svg',
			title: '3. Coding',
			description: 'We convert your design into clean, maintainable Tailwind CSS and keep you updated as we go.',
			delay: '0.05s',
		},
		{
			icon: 'images/icon/icon_14.svg',
			title: '4. Ta-da!',
			description: 'We walk you through the finished work and collect feedback for final adjustments.',
			delay: '0.1s',
		},
		{
			icon: 'images/icon/icon_17.svg',
			title: '5. Delivery',
			description: 'We deliver the final code, ready to integrate into your project, along with any agreed revisions.',
			delay: '0.2s',
		},
	],
} = Astro.props;
---

<div
	class='fancy-feature-six relative'
	id={id}>
	<div class='container'>
		<div class='flex flex-wrap items-center'>
			<div class='wow fadeInUp mt-10 w-full max-w-full flex-[0_0_auto] px-[12px] md:w-6/12 lg:w-4/12 xl:w-4/12'>
				<div class=''>
					<h2 class='font-Recoleta text-4xl font-normal text-black lg:text-5xl xl:text-6xl'>
						{titleLine1}
						<span class='relative z-1 inline-block'>
							{titleLine2}
							<span
								class='mark-bg xsm:h-[34px] absolute top-2/4 left-[-5px] z-[-1] h-[50px] w-[98%] -translate-y-2/4 sm:h-[34px] md:h-[34px]'
								style={`background-color:${highlightColor};`}
							></span>
						</span>
					</h2>
					<span class='mt-6 block h-[3px] w-28 bg-black md:mt-12 lg:mt-12 xl:mt-12'></span>
				</div>
			</div>
			{
				steps.map((step) => (
					<div
						class='wow fadeInUp mt-10 w-full max-w-full flex-[0_0_auto] px-[12px] md:w-6/12 lg:w-4/12 xl:w-4/12'
						data-wow-delay={step.delay}>
						<div class='card-style-three xsm:p-[30px_10px_25px_15px] w-full rounded-[10px] border border-solid border-[#b1b2f4] bg-white p-[42px_10px_30px_45px] transition-all duration-[0.3s] ease-[ease-in-out] hover:border-[#FF35D9] hover:shadow-[0_20px_50px_rgba(0,0,0,0.04)] sm:p-[30px_10px_25px_15px] md:p-[30px_10px_25px_15px] lg:p-[30px_10px_25px_15px]'>
							<div class='icon flex h-[65px] items-end'>
								<img
									src='images/lazy.svg'
									data-src={step.icon}
									alt=''
									class='lazy-img max-h-full'
								/>
							</div>
							<h4 class='xsm:text-[20px] mt-[25px] mb-5 sm:text-[20px] md:text-[20px] lg:text-[20px] 2xl:text-[22px]'>
								{step.title}
							</h4>
							<p class='mb-4 md:mb-0 md:min-h-[80px] lg:min-h-[80px] xl:min-h-[80px]'>{step.description}</p>
						</div>
					</div>
				))
			}
		</div>
	</div>
	<div
		class='shapes shape-one absolute top-[4%] left-[-50px] z-[-1] h-[126px] w-[126px] animate-[jumpThree_3s_infinite_linear] rounded-[50%] bg-[#FFC961]'>
	</div>
	<img
		src='images/lazy.svg'
		data-src='images/shape/shape_36.svg'
		alt=''
		class='lazy-img shapes shape-two absolute top-[30%] right-[3%] z-[-1]'
	/>
	<div
		class='shapes shape-three absolute right-[-150px] bottom-0 z-[-1] h-[300px] w-[300px] animate-[jumpTwo_3s_infinite_linear] rounded-[50%] bg-[#FF35D9] opacity-70'>
	</div>
</div>
