---
interface Testimonial {
	company: string;
	companyUrl?: string;
	author: string;
	text: string;
	bgColor: string;
}

interface Props {
	subtitle?: string;
	titlePart1?: string;
	titlePart2?: string;
	titleImage?: string;
	testimonials?: Testimonial[];
	shape1Image?: string;
	shape2Image?: string;
}

const {
	subtitle = "FEEDBACK",
	titlePart1 = "What",
	titlePart2 = "clients",
	titleImage = "images/shape/shape_129.svg",
	shape1Image = "images/shape/shape_130.svg",
	shape2Image = "images/shape/shape_131.svg",
	testimonials = [
		{
			company: "FLX Websites",
			companyUrl: "https://flxwebsites.com",
			author: "Nick Sergeant",
			text: "We've been using the team at Design2Tailwind for almost a year now and they have had an outsized impact on our ability to grow our web design agency. I absolutely cannot imagine not having them as a resource for us at this point. They're detailed oriented, efficient, and more than fair in their pricing. If you're looking for help turning your designs into HTML & Tailwind, you've found it!",
			bgColor: "#FFED4E",
		},
		{
			company: "Insight Media",
			companyUrl: "https://insight-media.be",
			author: "Dries",
			text: "Vivian and Daniela converted our website layout into a high-quality Tailwind project. Their code integrated perfectly into our Laravel project. We highly recommend their services!",
			bgColor: "#00FCFC",
		},
		{
			company: "Side Ventures",
			companyUrl: "/",
			author: "Matt Farley",
			text: "",
			bgColor: "#F27AFF",
		},
		// {
		// 	company: "Insight Media",
		// 	companyUrl: "/",
		// 	author: "Dries",
		// 	text: "Vivian and Daniela converted our website layout into a high-quality Tailwind project. Their code integrated perfectly into our Laravel project. We highly recommend their services!",
		// 	bgColor: "#52C1FF",
		// },
	],
} = Astro.props;
---

<div class="feedback-section-ten relative pt-24 mb-24 lg:pt-32 lg:mb-28 xl:pt-40 xl:mb-36">
	<div class="container">
		<div class="relative">
			<div class="-mx-3 flex flex-wrap">
				<div class="w-full max-w-full flex-[0_0_auto] px-3 lg:w-5/12">
					<div class="title-style-ten text-center wow fadeInLeft lg:text-left">
						<div class="sc-title text-[13px] tracking-[3px] uppercase text-(--prime-nine) pb-2.5 xl:text-[15px] xl:pb-4">{subtitle}</div>
						<h2 class="font-Recoleta font-normal text-black text-4xl lg:text-5xl xl:text-6xl">{titlePart1} <span class="relative">{titlePart2} <img class="absolute -z-1 left-0 bottom-2.25" src={titleImage} alt=""></span> say about us.</h2>
					</div> <!-- /.title-style-ten -->
				</div>
			</div>

			<div class="slider-wrapper w-auto -mx-3 pt-10 wow fadeInUp min-[1200px]:w-[calc(1320px+15vw)] min-[1200px]:-mx-7.5 2xl:w-[calc(1320px+25vw)] xl:pt-17.5">
				<div class="feedback_slider_ten">
					{testimonials.map((testimonial) => (
						<div class="item mx-3 min-[1200px]:mx-7.5">
							<div class="feedback-block-ten pt-6.25 px-5 pb-7.5 xl:pt-10 xl:px-12.5 xl:pb-10" style={`background:${testimonial.bgColor};`}>
								<a href={testimonial.companyUrl} class="font-medium font-Gordita text-black text-2xl hover:underline lg:text-3xl">{testimonial.company}</a>
								<div class="text-base/[1.67em] text-black xl:text-lg">{testimonial.author}</div>
								<p class="text-black mt-7.5 mb-4 text-xl/[1.78em] xl:mt-10">
									{testimonial.text}
								</p>
							</div> <!-- /.feedback-block-ten -->
						</div>
					))}
				</div> <!-- /.feedback_slider_ten -->
			</div> <!-- /.slider-wrapper -->

			<ul class="slider-arrows slick-arrow-five relative mx-auto mt-15 mb-0 w-28.5 flex justify-center pl-0 list-none wow fadeInRight border-2 border-solid border-black lg:absolute lg:w-auto lg:mx-0 lg:mt-0 lg:right-0 lg:top-22.5">
				<li class="prev_f5 slick-arrow text-center tran3s text-2xl w-13.75 h-12.5 leading-12 text-black cursor-pointer hover:text-white first:border-r-black first:border-r first:border-solid last:border-l-black last:border-l last:border-solid hover:bg-black"><i class="bi bi-arrow-left"></i></li>
				<li class="next_f5 slick-arrow text-center tran3s text-2xl w-13.75 h-12.5 leading-12 text-black cursor-pointer hover:text-white first:border-r-black first:border-r first:border-solid last:border-l-black last:border-l last:border-solid hover:bg-black"><i class="bi bi-arrow-right"></i></li>
			</ul>
		</div>
	</div>
	<img src="images/lazy.svg" data-src={shape1Image} alt="" class="lazy-img shapes shape-one absolute -z-1 animate-[jumpTwo_5s_infinite_linear] left-[51%] top-[9%] hidden lg:block">
	<img src="images/lazy.svg" data-src={shape2Image} alt="" class="lazy-img shapes shape-two absolute -z-1 left-0 bottom-0">
</div>
